﻿
@{
    ViewBag.Title = "Easy Bus";
}

<form method="get" action="adminvalidate">
    <div id="Layer1"> </div>
    <table width="447" height="212" border="0" align="center">
        <tr>
            <td width="174">
                
                    <div align="center" class="style6"><label>User Name</label></div>
                
            </td>
            <td width="450" height="100">
                <div align="center">
                    <input type="text" name="textfield" />
                </div>
            </td>
        </tr>
        <tr>
            <td><div align="center" class="style6">Password</div></td>
            <td width="450" height="100">
                <div align="center">
                    <input name="Password" type="password" />
                </div>
            </td>
        </tr>
        
    </table>
           <div align="center">
                <input name="submit" type="submit" value="submit" />
            </div>
       
</form>


