﻿
@{
    ViewBag.Title = "Admin Page";
}

@if (Session["userName"] != null)
{
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav-justified">
                    <li>@Html.ActionLink("Bus", "busView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Department", "departmentView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @*<li>@Html.ActionLink("Location", "locationView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>*@
                    <li>@Html.ActionLink("Role", "roleView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Route", "routeView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Student", "studentView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("User", "userView", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                   <!--@*<li>@Html.ActionLink("Services", "alterbus", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>*@--> 
                    <li>@Html.ActionLink("Log Out", "logOut", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>

                </ul>
            </div>
        </div>
    </div>
    
} 