﻿@model Data.DTO.busDTO

@{
    ViewBag.Title = "New Bus";
}
<h2>CREATE NEW BUS DETAILS</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.busId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.busId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.busId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.busNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.busNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.busNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.routeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.routeId, ViewBag.deptlist as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.routeId, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group error">

            @if (TempData["Message"] != null)
            {
                <label style="color:red;padding-left:12em">@TempData["Message"]</label>
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "busView")
</div>
