﻿@model IEnumerable<Data.DTO.departmentDTO>

@{
    ViewBag.Title = "Department List";
}
@if (Session["userName"] != null)
{
<h2>DEPARTMENT</h2>

<p>
    @Html.ActionLink("Add New Department", "createDepartment")
</p>
<div class="form-group error">

    @if (TempData["Message"] != null)
    {
        <label style="color:darkred;padding-left:12em">@TempData["Message"]</label>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deptno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deptname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deptno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deptname)
        </td>
        <td>
            @Html.ActionLink("Edit", "editDepartment", new { deptno = item.deptno }) |
           @Html.ActionLink("Delete", "deleteDepartment", new { deptno = item.deptno },
          new { onclick = "return confirm('Recommendation: Before deleting this bus, " +
          "Please edit and give an alternative bus ID to the corresponding students. Do you still wish to delete this bus?');" })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Back to Dash Board", "busView")
}