﻿@model IEnumerable<Data.DTO.routeDTO>

@{
    ViewBag.Title = "routeView";
}
@if (Session["userName"] != null)
{
<h2>ROUTE</h2>

<p>
    @Html.ActionLink("Add New Route", "createRoute")
</p>
<div class="form-group error">

    @if (TempData["Message"] != null)
    {
        <label style="color:red;padding-left:12em">@TempData["Message"]</label>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.routeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plannedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.via)
        </th>
        <th></th>
    </tr>
    @foreach (var group in Model.GroupBy(u => u.destination))
    {
    foreach (var item in group)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.routeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.source)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plannedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.via)
            </td>
            <td>
                @Html.ActionLink("Edit", "editRoute", new { routeId = item.routeId }) |

                @Html.ActionLink("Delete", "deleteRoute", new { routeId = item.routeId },
                new
                {
                    onclick = "return confirm('Recommendation: Before deleting this route, " +
                "Please edit and give an alternative route to the corresponding buses. Do you still wish to delete this route?');"
                })
            </td>
        </tr>
    }
    }

</table>

@Html.ActionLink("Back to Dash Board", "busView")
}