﻿@model IEnumerable<StudentView>

@{
                ViewBag.Title = "Student List";
}

<h2>STUDENT DETAILS</h2>
@if (Session["userName"] != null)
{
    <p>
        @Html.ActionLink("Add New Student", "createStudent")
    </p>
    <div class="form-group error">

        @if (TempData["Message"] != null)
        {
            <label style="color:red;padding-left:12em">@TempData["Message"]</label>
        }
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.busId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parentPhoneNumber)
            </th>
            <th></th>
        </tr>
@foreach (var group in Model.GroupBy(u => u.departmentName))
{
    foreach (var item in group)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.busId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parentPhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "editStudent", new { userId = item.userId }) |
                    @Html.ActionLink("Delete", "deleteStudent", new { userId = item.userId },
                   new {onclick = "return confirm('note: This Deletion will also remove the corresponding user details.Do you still wish to delete this student?')"})
                </td>
            </tr>
    }
}
    </table>
    
    @Html.ActionLink("Back to Dash Board", "busView")

}