﻿@model IEnumerable<Data.DTO.availableBusDTO>

@{
    ViewBag.Title = "unlockBus";
}

<h2>UNLOCK BUS</h2>
@if (Session["userName"] != null)
{
<div class="form-group error">

    @if (TempData["Message"] != null)
    {
        <label style="color:red;padding-left:12em">@TempData["Message"]</label>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.busId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.routeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.status == 1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.busId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.busNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.routeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.ActionLink("unlock", "busUnlocked", new { busId = item.busId })
                </td>
            </tr>
        }
    }

</table>
@Html.ActionLink("Back to Dash Board", "busView")
}