﻿@model IEnumerable<Data.DTO.loggedInUserDTO>

@{
    ViewBag.Title = "unlockUser";
}

<h2>UNLOCK USER</h2>
@if (Session["userName"] != null)
{
    <div class="form-group error">

        @if (TempData["Message"] != null)
        {
            <label style="color:red;padding-left:12em">@TempData["Message"]</label>
        }
    </div>
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.status == 1 && item.userName != @HttpContext.Current.Session["Username"].ToString())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.ActionLink("unlock", "userUnlocked", new { userId = item.userId })

       
                    </td>
                </tr>
            }
        }

    </table>

@Html.ActionLink("Back to Dash Board", "busView")
}